.footer {
    height: 10rem;
    width: 100vw;
    background: var(--color-grey-transp);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.footer p {
    font-size: 2rem;
    color: white;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footerLink {
    width: 15rem;
    height: 10rem;
    display: flex;
    justify-self: center;
    align-self: center;
    position: relative;
}

.footerLink img {
    width: 3rem;
    height: 3rem;
    filter:invert(100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footerLink:hover {
    background: var(--color-grey);
}